{% extends "index.html" %}

{% block content %}

<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header bg-danger text-white">
            <h3>Change Password</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label>Current Password</label>
                    <input type="password" class="form-control" name="current_password" required>
                </div>
                <div class="mb-3">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="new_password" required>
                </div>
                <div class="mb-3">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" required>
                </div>
                <button
                    class="btn btn-success">
                        Update Password
                </button>
                <a href="/my-profile" class="btn btn-secondary">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}