{% extends "index.html" %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-primary text-white">

<h3>
<i class="bi bi-cpu-fill"></i>
System Information
</h3>

</div>


<div class="card-body">


<h4>
IT Asset Management System
</h4>


<hr>


<p>
<b>Application Version:</b>
v1.0.0
</p>


<p>
<b>Developer:</b>
Harsh Yadav
</p>


<p>
<b>Technology:</b>
Python Flask, PostgreSQL, HTML, CSS, Bootstrap
</p>


<p>
<b>Release:</b>
July 2026
</p>


<p>
<b>Status:</b>
<span class="badge bg-success">
Active
</span>
</p>


</div>


</div>


</div>


{% endblock %}